<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <context-param>
        <param-name>controller-package</param-name>
        <param-value>controllers</param-value>
    </context-param>

    <listener>
        <listener-class>lcsfw.fw.controller.FrontControllerListner</listener-class>
    </listener>

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>lcsfw.fw.controller.FrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
